# Dependencies
node_modules/
package-lock.json

# Environment variables
.env
*.env
!*.env.example
backend/config/config.env
backend/config/.env

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build
dist/
build/

# Testing
coverage/

# Misc
.cache/
temp/
tmp/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfplan
.terraform.lock.hcl
override.tf
override.tf.json
*_override.tf
*_override.tf.json
